/* *** NEED TO ADD ACCESSIBILITY CODES!!! ***/
/* *** MAKE SURE NAVIGATION LINKS TO ITEMS IN PAGE! *** */
/* AT HEADER, NEED TO PUSH LETTERING WITHIN BORDER TO THE RIGHT AND EXTEND BORDER ALL THE WAY TO THE LEFT */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ***** NEED TO FIX COLORS ****/
:root {
    --primary-color: #f2ebe5;
    --secondary-color: #647295;
    --tertiary-color: #2b262d;
    --quaternary-color:#9f496e;
}
body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Start of Header Style */
header {
    padding: 10px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    top: 0;
    background-size: cover;
    align-items: center;
}
/* NEED TO PUSH LETTERING WITHIN BORDER TO THE RIGHT AND EXTEND BORDER ALL THE WAY TO THE LEFT */
header h1 {
    font-weight: bold;
    font-size: 3vw;
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
    text-decoration-line: underline;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    /* put navigation items horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: space between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    /* Space between Navigation elements */
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw; /* vw is viewpoint width; shoud equal 1.55 % of window's overall width. */
    text-shadow: 0 0 10px rgba(0,0,0, 0.5) /* shadow is 50% transparent */
}
/* End of Header Style */

/* Hero Style Start*/
.hero {
    background-image: url("../../Assets/images/paper-in-leaves.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
}
.hero div {
    padding: 100px 35px;
    color: var(--quaternary-color);
}
.subtitle {
    position: relative;
    top: 70px;
    left: 1400px;
    width: 300px;
 }

.primary-border {
    display: flex;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    padding: 20px 35px;

}
.secondary-border {
    border-color: #39a6b2;
}


/* Start of Content 

/* About Me Section */

.about-me {
    display: flex;
    justify-content: space-around;
    align-content: center;

}
.about-me-content {
    width: 75vw;
    align-content: center;
    margin-left: 40px;
}
.about-me-content p {
    flex: 1 12%;
    margin: 50px 100px 20px 0px;
    height: 200px;
}

.sidebar {
    display: flex;
    width: 25vw;
    margin: 50px 20px 20px 0px;
    height: 200px;
    border-right: 5px solid var(--secondary-color);
    align-content: center;
}
.section-title {    
    font-size: 60px;
    color: var(--tertiary-color);
    padding-bottom: 20px;
    text-align: right;
    margin: 0 20px 35px auto;
}
/* End of About Me Section */












/* First Image; Surf-Report */
.work-section {
    display: flex;
}

/* .sidebar {
    margin: 0px 10px 20px 0px;
    width: 100%;
    border-right:5px solid var(--secondary-color);
}*/

.work-sidebar {
    height: auto;
}
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 75vw;
    margin-left: 40px;
}
.surf-report {
    margin-top: 50px;
}
.surf-report img {
    flex: 1 12%;
    opacity: 0.7;
    height: 650px;
    width: 65vw;
    border:5px solid var(--secondary-color);
    margin: 0 0 20px 0;
}

.surf-report img:hover {
    opacity: 1;
    text-shadow: none;
}

.cards {
    display: flex;
    flex: 2 100%;
    justify-content: center;
    align-items: center;
 }

 .cards left-boxes {
     display: flex;
     align-items: center;
     width: auto;
 }

.cards img {
    /* flex: 1 12%; 
    margin-left: 400px; */
    opacity: 0.7;
    height: 200px;
    width: 32vw;
    margin-bottom: 20px;
    border:5px solid var(--secondary-color);
}

.cards img:hover {
    opacity: 1;
    text-shadow: none;
}

.right-box {
    margin-left: 20px;
}

/*flex: 1 12%;
    opacity: 0.7;
    margin: 0px 100px 20px 500px;
    height: 650px;
    width: 100%;
    border:5px solid var(--secondary-color);
*/
/* .cards1 img {
    flex: 1 12%;
    margin-left: 400px;
    height: 400px;
    width: 600px;
}
/*
.cards1, .cards2 {
width: 100%;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
*/
/* Start of Footer Style */
footer {
    padding: 40px 35px;
    display: flex;
    top: 0;
    align-items: center;
    flex-wrap: wrap;
}
/* footer div {
    padding: 20px 35px;
    border: 1px auto auto 0px;
} */

.info-box {
    display: flex;
    width: 65vw;
    justify-content: space-around;
}

.contact-info {
    display: flex;
    width: 65vw;
}
footer div ul {
    /* put navigation items horizontally */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}


footer div ul li {
    /* Space between Navigation elements */ 
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw; /* vw is viewpoint width; shoud equal 1.55 % of window's overall width. */
}

footer p, footer a {
    text-decoration: none;
    color: var(--secondary-color);
    text-decoration-line: underline;
}

footer ul {
    margin: 7px 0;
}
