/* *** NEED TO ADD ACCESSIBILITY CODES!!! ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f2ebe5;
    --secondary-color: #a9c5da;
    --tertiary-color: #2b262d;
    --quaternary-color:#305e7a;
}
body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Start of Header Style */
header {
    padding: 10px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    background-size: cover;
    align-items: center;
}
header h1 {
    font-weight: bold;
    font-size: 3vw;
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
    text-decoration-line: underline;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    /* put navigation items horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: space between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    /* Space between Navigation elements */
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0,0,0, 0.5)
}
/* End of Header Style */

/* Hero Style Start*/
.hero {
    background-image: url("../../Assets/images/Brick-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
}
.hero div {
    padding: 10px;
    color: var(--quaternary-color);
}
.profile-photo {
    margin: 1vw;
    margin-left: 2vw;
    width: 25vw;
}
.subtitle-div {
    display: flex;
    justify-content: center;
}
.subtitle {
    margin-left: 47vw;
    text-align: center;
    font-size: 20px;
 }
.primary-border {
    display: flex;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    padding: 20px 5vw;
}
.secondary-border {
    border-color: #39a6b2;
}


/* Start of Content 

/* About Me Section */

#about-me {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.about-me-content, .work {
    width: 75vw;
    align-content: center;
    margin-left: 40px;
}
.about-me-content p {
    flex: 1 12%;
    font-size: 20px;
    margin: 50px 30px 0px 0px;
    padding-top: 20px;
}
.sidebar {
    display: flex;
    width: 20vw;
    margin: 50px 20px 20px 0px;
    height: auto;
    border-right: 5px solid var(--secondary-color);
    align-content: center;
}
.section-title {    
    font-size: 5vw;
    color: var(--tertiary-color);
    padding-bottom: 20px;
    text-align: right;
    margin: 0 20px 35px auto;
}
/* End of About Me Section */

/* First Image; Surf-Report */
.work-section {
    display: flex;
}
.surf-report {
    margin-top: 50px;
}
.surf {
    background-image: url("../../Assets/images/cells.jpg");
    background-size: cover;
    flex: 1 12%;
    opacity: 0.7;
    height: 650px;
    width: 72vw;
    border:5px solid var(--secondary-color);
    margin: 0 0 20px 0;
}
.surf:hover {
    opacity: 1;
    text-shadow: none;
}
.content-title {
    position: relative;
    opacity: 1;
    z-index: 999;
    top: 27vw;
    width: 27vw;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }
 .content-title h2 {
    font-size: 2vw;
    padding-bottom: 5px;
 }
 .content-title h3 {
     font-size: 1.3vw;
 }
 .content-title2 {
    top: 5vw;
 }
.cards {
    display: flex;
    flex: 2 100%;
    justify-content: center;
    align-items: center;
 }
 .boxes {
    display: flex;
    flex-direction: column;
    flex: 2 100%;
    justify-content: center;
    height: 450px;
    width: 32vw;
    /* margin-bottom: 20px; */
 }
 .box {
    opacity: 0.7;
    height: 244px;
    width: 34.5vw;
    margin-bottom: 20px;
    border:5px solid var(--secondary-color);
}
.left-upper {
    background-image: url("../../Assets/images/Clouds.jpg");
    background-size: cover; 
}
.left-lower {
    background-image: url("../../Assets/images/mountains.jpg");
    background-size: cover; 
}
.right-upper {
    background-image: url("../../Assets/images/country-background.jpg");
    background-size: cover; 
}
.right-lower {
    background-image: url("../../Assets/images/hero-bg.jpeg");
    background-size: cover; 
}
.box:hover {
    opacity: 1;
    text-shadow: none;
}
.cards img {
    /* flex: 1 12%; 
    margin-left: 400px; */
    opacity: 0.7;
    height: 200px;
    width: 32vw;
    margin-bottom: 20px;
    border:5px solid var(--secondary-color);
}
.cards img:hover {
    opacity: 1;
    text-shadow: none;
}
.right-box {
    margin-left: 20px;
}

/* Start of Footer Style */
#contact {
    padding: 1vw 0vw;
    display: flex;
    top: 0;
    align-items: center;
    flex-wrap: wrap;
}
.info-box {
    display: flex;
    width: 75vw;
    justify-content: space-around;
}
.contact-info {
    display: flex;
    width: 74vw;
}
footer div ul {
    /* put navigation items horizontally */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}
footer div ul li {
    /* Space between Navigation elements */ 
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
}
footer p, footer a {
    text-decoration: none;
    color: var(--quaternary-color);
    text-decoration-line: underline;
}
footer ul {
    margin: 7px 0;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 2vw;
    }
    .primary-border {
        padding: 2vw;
    }
    .photo {
        display: flex;
        justify-content: center;
    }
    .subtitle {
        margin-left: 0;
        position: relative;
        font-size: 16px;
        top: 9vw;
        left: 20vw;
        width: 40vw;
        color: var(--tertiary-color);
        background-color: var(--secondary-color);
     }
    header nav ul li a {
        font-size: 20px;
    }
    .surf {
        height: 500px;
    }
    .content-title2 {
        top: 12vw;
    }
    .content-title h2 {
        font-size: 20px;
        padding-bottom: 5px;
     }
     .content-title h3 {
         font-size: 14px;
     }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .primary-border {
        padding: 2vw;
    }
    .subtitle {
        font-size: 16px;
        top: 8vw;
        left: 15vw;
        width: 50vw;
        padding: 5px;
     }
     #about-me {
        flex-wrap: wrap;
        justify-content: center;
     }
    .sidebar {
        width: 27%;
        margin: 0;
        border-right: none;
        padding: 2vw 0 0 0;
        height: 12vw;
        border-bottom: 5px solid var(--secondary-color);
        justify-content: center;
    }
    .section-title {
        margin: 0;
        justify-content: center;
    }
    .about-me-content p {
        margin: 1vw;
        padding: 2vw 0vw 0vw 0vw;
    }
    .work-section {
        flex-wrap: wrap;
        justify-content: center;
     }
    .surf {
        height: 400px;
    }
    .content-title {
        width: 25vw;
    }
    .content-title h3 {
        font-size: 14px;
    }
    .content-title2 {
        top: 5vw;
    }
     #contact {
        flex-wrap: wrap;
        justify-content: center;
     }
     .contact-info {
         width: 95%;
     }
     footer p, a {
        font-size: 20px;
        padding: 2vw;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        padding-bottom: 2;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
        font-size: 35px;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .hero {
        justify-content: center; 
    }
    .profile-photo {
        margin: 0vw;
        margin-left: 2vw;
        width: 59%;
        justify-content: center;
    }
    .subtitle {
        font-size: 20px;
        top: 0vw;
        width: 50vw;
        left: 0vw;
     }
    .section-title {    
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
    }
    .main-caption {
        width: 50vw;
    }
    .content-title {
        width: 29vw;
    }
    .content-title h3 {
        font-size: 11px;
        padding: 0;
    }
    .content-title {
    position: relative;
    opacity: 1;
    z-index: 999;
    top: 27vw;
    width: 32vw;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }
 .main-caption {
    width: 50vw;
}
 .content-title h2 {
    font-size: 4vw;
    padding-bottom: 5px;
 }
 .content-title h3 {
    font-size: 2.2vw;

 }
 .content-title2 {
    top: 5vw;
 }
 
}