
/* NEED TO PUSH LETTERING WITHIN BORDER TO THE RIGHT AND EXTEND BORDER ALL THE WAY TO THE LEFT */
header h1 {
    font-weight: bold;
    font-size: 3vw;
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
    text-decoration-line: underline;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    /* put navigation items horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: space between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    /* Space between Navigation elements */
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw; /* vw is viewpoint width; shoud equal 1.55 % of window's overall width. */
    text-shadow: 0 0 10px rgba(0,0,0, 0.5) /* shadow is 50% transparent */
}
/* End of Header Style */

header {
    padding: 10px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    top: 0;
    background-size: cover;
    align-items: center;
}

.about-me {
    display: flex;
    justify-content: space-around;
    align-content: center;

}
.about-me-content {
    width: 75vw;
    align-content: center;
}
.about-me-content p {
    flex: 1 12%;
    margin: 50px 100px 20px 0px;
    height: 200px;
}

.about-me-sidebar {
    display: flex;
    width: 25vw;
    margin: 50px 20px 20px 0px;
    height: 200px;
    border-right: 5px solid var(--secondary-color);
    align-content: center;
}
.section-title {    
    font-size: 60px;
    color: var(--tertiary-color);
    padding-bottom: 20px;
    text-align: right;
    margin: 0 20px 35px auto;
    width: 50%;
}





footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-around;
    top: 0;
    align-items:center;
    flex-wrap: wrap;
}

.contact-info {
    width: 75vw;
}

footer ul {
    /* put navigation items horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: space between;
    align-items: stretch;
    list-style: none;
}

/*
footer div ul li {
    /* Space between Navigation elements */ /*
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw; /* vw is viewpoint width; shoud equal 1.55 % of window's overall width. */
/*
footer p, footer a {
    text-decoration: none;
    color: var(--secondary-color);
    text-decoration-line: underline;
}
footer ul {
    margin: 7px 0;
}